# ==============================================================================
# Configuration GRUB 2 pour Noos Android x86_64 (UEFI & BIOS)
# Version du noyau : Linux 6.12 LTS avec support Android 17 (API 37)
# ==============================================================================

set timeout=5
set default=0

# Configuration graphique GRUB
if [ "${grub_platform}" = "efi" ]; then
    insmod efi_gop
    insmod efi_uga
else
    insmod vbe
    insmod vga
fi

insmod font
insmod gfxterm
insmod part_gpt
insmod part_msdos
insmod ext2
insmod fat
insmod iso9660

set gfxmode=auto
terminal_output gfxterm

# Menu Principal
menuentry "1. Noos Android Desktop Edition (PC de bureau / Multi-fenêtres)" --class android --class os {
    search --no-floppy --file /kernel --set=root
    echo "Chargement de Noos Android 17 Desktop Edition..."
    linux /kernel root=/dev/ram0 quiet SRC= DATA= SETUPWIZARD=0 EDITION=desktop androidboot.hardware=ranchu androidboot.hardware.gralloc=minigbm androidboot.selinux=permissive DPI=160 8250.nr_uarts=1 clocksource=pit
    echo "Chargement du système..."
    initrd /initrd.img
}

menuentry "2. Noos Android TV Edition (Mini PC -> TV / Leanback)" --class android --class os {
    search --no-floppy --file /kernel --set=root
    echo "Chargement de Noos Android 17 TV Edition..."
    linux /kernel root=/dev/ram0 quiet SRC= DATA= SETUPWIZARD=0 EDITION=tv androidboot.hardware=ranchu androidboot.hardware.gralloc=minigbm androidboot.selinux=permissive DPI=280 8250.nr_uarts=1 clocksource=pit
    echo "Chargement du système..."
    initrd /initrd.img
}

menuentry "3. Noos Android Live Mode (Démonstration RAM)" --class android --class os {
    search --no-floppy --file /kernel --set=root
    echo "Démarrage en mode Live..."
    linux /kernel root=/dev/ram0 quiet SRC= DATA= SETUPWIZARD=0 androidboot.hardware=ranchu androidboot.hardware.gralloc=minigbm androidboot.selinux=permissive 8250.nr_uarts=1 clocksource=pit
    initrd /initrd.img
}

menuentry "4. Installer Noos Android sur disque interne (SSD / NVMe)" --class install {
    search --no-floppy --file /kernel --set=root
    echo "Démarrage de l'installateur Noos..."
    linux /kernel root=/dev/ram0 INSTALL=1 SRC= DATA= androidboot.hardware=ranchu androidboot.selinux=permissive
    initrd /initrd.img
}

menuentry "5. Mode Débogage & Restauration (Console texte & Fallback)" --class debug {
    search --no-floppy --file /kernel --set=root
    echo "Démarrage en mode sans échec (Debug)..."
    linux /kernel root=/dev/ram0 DEBUG=2 SRC= DATA= androidboot.hardware=ranchu androidboot.selinux=permissive nomodeset
    initrd /initrd.img
}
